<template>
    <Main>
        <StackLayout>
            <Label
                    text="Champion Drop Rate"
                    textAlignment="center"
                    class="h1"
                    color="#d99e52"
            ></Label>
            <StackLayout class="hr-light hr"></StackLayout>
            <Label
                    class="h3"
                    text="The table below shows the probability of, getting a certain tier of champion, on a certain level"
                    textWrap="true" />
            <GridLayout
                    class="p-5"
                    columns="34, *, *, *, *, *"
                    rows="auto, auto, auto, auto, auto, auto, auto, auto, auto, auto">
                <Label
                        row="0"
                        col="0"
                        text="Level"
                        textWrap="true" />
                <Label
                        row="0"
                        col="1"
                        text="Tier 1"
                        textWrap="true" />
                <Label
                        row="0"
                        col="2"
                        text="Tier 2"
                        textWrap="true" />
                <Label
                        row="0"
                        col="3"
                        text="Tier 3"
                        textWrap="true" />
                <Label
                        row="0"
                        col="4"
                        text="Tier 4"
                        textWrap="true" />
                <Label
                        row="0"
                        col="5"
                        text="Tier 5"
                        textWrap="true"  />
                <!-- Level 1 -->
                <Label
                        row="1"
                        col="0"
                        text="1"
                        textAlignment="center" />
                <Label
                        row="1"
                        col="1"
                        text="100%" />
                <Label
                        row="1"
                        col="2"
                        text="0%" />
                <Label
                        row="1"
                        col="3"
                        text="0%" />
                <Label
                        row="1"
                        col="4"
                        text="0%" />
                <Label
                        row="1"
                        col="5"
                        text="0%" />
                <!-- Level 2 -->
                <Label
                        row="2"
                        col="0"
                        text="2"
                        textAlignment="center" />
                <Label
                        row="2"
                        col="1"
                        text="100%" />
                <Label
                        row="2"
                        col="2"
                        text="0%" />
                <Label
                        row="2"
                        col="3"
                        text="0%" />
                <Label
                        row="2"
                        col="4"
                        text="0%" />
                <Label
                        row="2"
                        col="5"
                        text="0%" />
                <!-- Level 3 -->
                <Label
                        row="3"
                        col="0"
                        text="3"
                        textAlignment="center" />
                <Label
                        row="3"
                        col="1"
                        text="65%" />
                <Label
                        row="3"
                        col="2"
                        text="30%" />
                <Label
                        row="3"
                        col="3"
                        text="5%" />
                <Label
                        row="3"
                        col="4"
                        text="0%" />
                <Label
                        row="3"
                        col="5"
                        text="0%" />
                <!-- Level 4 -->
                <Label
                        row="4"
                        col="0"
                        text="4"
                        textAlignment="center" />
                <Label
                        row="4"
                        col="1"
                        text="50%" />
                <Label
                        row="4"
                        col="2"
                        text="35%" />
                <Label
                        row="4"
                        col="3"
                        text="15%" />
                <Label
                        row="4"
                        col="4"
                        text="0%" />
                <Label
                        row="4"
                        col="5"
                        text="0%" />
                <!-- Level 5 -->
                <Label
                        row="5"
                        col="0"
                        text="5"
                        textAlignment="center" />
                <Label
                        row="5"
                        col="1"
                        text="37%" />
                <Label
                        row="5"
                        col="2"
                        text="35%" />
                <Label
                        row="5"
                        col="3"
                        text="25%" />
                <Label
                        row="5"
                        col="4"
                        text="3%" />
                <Label
                        row="5"
                        col="5"
                        text="0%" />
                <!-- Level 6 -->
                <Label
                        row="6"
                        col="0"
                        text="6"
                        textAlignment="center" />
                <Label
                        row="6"
                        col="1"
                        text="24.5%" />
                <Label
                        row="6"
                        col="2"
                        text="35%" />
                <Label
                        row="6"
                        col="3"
                        text="30%" />
                <Label
                        row="6"
                        col="4"
                        text="10%" />
                <Label
                        row="6"
                        col="5"
                        text="0.5%" />
                <!-- Level 7 -->
                <Label
                        row="7"
                        col="0"
                        text="7"
                        textAlignment="center" />
                <Label
                        row="7"
                        col="1"
                        text="20%" />
                <Label
                        row="7"
                        col="2"
                        text="30%" />
                <Label
                        row="7"
                        col="3"
                        text="33%" />
                <Label
                        row="7"
                        col="4"
                        text="15%" />
                <Label
                        row="7"
                        col="5"
                        text="2%" />
                <!-- Level 8 -->
                <Label
                        row="8"
                        col="0"
                        text="8"
                        textAlignment="center" />
                <Label
                        row="8"
                        col="1"
                        text="15%" />
                <Label
                        row="8"
                        col="2"
                        text="25%" />
                <Label
                        row="8"
                        col="3"
                        text="35%" />
                <Label
                        row="8"
                        col="4"
                        text="20%" />
                <Label
                        row="8"
                        col="5"
                        text="5%" />
                <!-- Level 9 -->
                <Label
                        row="9"
                        col="0"
                        text="9"
                        textAlignment="center" />
                <Label
                        row="9"
                        col="1"
                        text="10%" />
                <Label
                        row="9"
                        col="2"
                        text="15%" />
                <Label
                        row="9"
                        col="3"
                        text="35%" />
                <Label
                        row="9"
                        col="4"
                        text="30%" />
                <Label
                        row="9"
                        col="5"
                        text="10%" />
            </GridLayout>
            <StackLayout class="m-t-30">
                <Label class="m-b-5 h3" text="Tier 1: 39 of each champion" />
                <Label class="m-b-5 h3" text="Tier 2: 26 of each champion" />
                <Label class="m-b-5 h3" text="Tier 3: 21 of each champion" />
                <Label class="m-b-5 h3" text="Tier 4: 13 of each champion" />
                <Label class="m-b-5 h3" text="Tier 5: 10 of each champion" />
                <Label class="m-t-10 h3" text="These numbers have changed before and they’ll likely change again. So stay tuned." textWrap="true" />
            </StackLayout>
        </StackLayout>
    </Main>
</template>

<script>
    export default {
        name: "ChampionDropRates"
    }
</script>

<style scoped>
    GridLayout Label{
        color: #ffffff;
        font-size: 12;
    }
</style>
