<template>
    <Main>
        <template>
            <StackLayout class="white-text">
                <ChampionImage
                    :champion="champion"
                    width="40%"
                    alignSelf="center" />
                <FlexboxLayout
                        flexDirection="row">
                    <Label
                            :text="champion.name"
                            class="h2"
                            color="#d99e52"
                            flexGrow="1"/>
                    <FlexboxLayout
                            flexGrow="1"
                            flexDirection="row"
                            justifyContent="flex-end">
                        <SVGImage
                                class="m-r-5"
                                src="~/images/misc/gold-coins.svg"
                                height="20"
                                width="20" />
                        <Label
                                :text="champion.cost"
                                color="#d99e52"
                                class="h2" />
                    </FlexboxLayout>
                </FlexboxLayout>
                <ContentView class="card">
                    <StackLayout class="p-25">
                        <FlexboxLayout flexDirection="row">
                            <Label
                                    class="ability-state"
                                    :text="champion.ability.type"
                                    flexGrow="1"></Label>
                            <Label
                                    class="ability-cost"
                                    text="Cost"
                                    textAlignment="right"
                                    flexGrow="1"
                                    v-if="champion.ability.manaStart !== null && champion.ability.manaCost !== null"></Label>
                        </FlexboxLayout>
                        <FlexboxLayout flexDirection="row">
                            <Label
                                    class="ability-name"
                                    :text="champion.ability.name"
                                    flexGrow="1"></Label>
                            <Label
                                class="ability-mana"
                                :text="champion.ability.manaStart + ' / ' + champion.ability.manaCost"
                                textAlignment="right"
                                flexGrow="1"
                                v-if="champion.ability.manaStart !== null && champion.ability.manaCost !== null"></Label>
                        </FlexboxLayout>
                        <Label
                            class="ability-description p-y-10"
                            :text="champion.ability.description"
                            textWrap="true"></Label>
                        <StackLayout class="hr-light m-b-10"></StackLayout>
                        <StackLayout
                                v-for="stats in champion.ability.stats"
                                :key="stats.type">
                            <FlexboxLayout flexDirection="row">
                                <Label
                                        class="ability-stats-type"
                                        :text="stats.type"
                                        flexGrow="1"></Label>
                                <Label
                                        class="ability-stats-value"
                                        :text="stats.value"
                                        textAlignment="right"
                                        flexGrow="1"></Label>
                            </FlexboxLayout>
                        </StackLayout>
                    </StackLayout>
                </ContentView>
                <StackLayout class="p-25">
                    <StackLayout orientation="horizontal">
                        <StackLayout width="33%">
                            <Label
                                    class="basic-stats-type"
                                    text="Health"></Label>
                            <StackLayout orientation="horizontal">
                                <Image
                                        src="~/images/misc/health.png"
                                        width="12"
                                        class="m-r-4"/>
                                <Label
                                        class="basic-stats-value"
                                        :text="champion.health"></Label>
                            </StackLayout>
                        </StackLayout>
                        <StackLayout width="33%">
                            <Label
                                    class="basic-stats-type"
                                    text="Armor"></Label>

                            <StackLayout orientation="horizontal">
                                <Image
                                        src="~/images/misc/armor.png"
                                        width="12"
                                        class="m-r-4"/>
                                <Label
                                        class="basic-stats-value"
                                        :text="champion.armor"></Label>
                            </StackLayout>
                        </StackLayout>
                        <StackLayout width="33%">
                            <Label
                                    class="basic-stats-type"
                                    text="Magic Resist"></Label>
                            <StackLayout orientation="horizontal">
                                <Image
                                        src="~/images/misc/magic-resist.png"
                                        width="12"
                                        class="m-r-4"/>
                                <Label
                                        class="basic-stats-value"
                                        :text="champion.magic_resist"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout
                            orientation="horizontal"
                            class="m-y-10">
                        <StackLayout width="33%">
                            <Label
                                    class="basic-stats-type"
                                    text="ATK Damage"></Label>
                            <StackLayout orientation="horizontal">
                                <Image
                                        src="~/images/misc/attack-damage.png"
                                        width="12"
                                        class="m-r-4"/>
                                <Label
                                        class="basic-stats-value"
                                        :text="champion.damage"></Label>
                            </StackLayout>
                        </StackLayout>
                        <StackLayout width="33%">
                            <Label
                                    class="basic-stats-type"
                                    text="ATK Speed"></Label>
                            <StackLayout orientation="horizontal">
                                <Image
                                        src="~/images/misc/attack-speed.png"
                                        width="12"
                                        class="m-r-4"/>
                                <Label
                                        class="basic-stats-value"
                                        :text="champion.attack_speed"></Label>
                            </StackLayout>
                        </StackLayout>
                        <StackLayout width="33%">
                            <Label
                                    class="basic-stats-type"
                                    text="Range"></Label>
                            <StackLayout orientation="horizontal">
                                <Image
                                        src="~/images/misc/attack-range.png"
                                        width="12"
                                        class="m-r-4"/>
                                <Label
                                        class="basic-stats-value"
                                        :text="champion.range"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
                <ContentView
                        class="card m-b-10"
                        v-for="value in smartChampion.classes"
                        :key="value.id">
                    <StackLayout class="p-25">
                        <FlexboxLayout
                                flexDirection="row"
                                @tap="goToClass(value)">
                            <StackLayout
                                    orientation="horizontal"
                                    flexGrow="1">
                                <AbsoluteLayout
                                    width="30"
                                    height="30">
                                    <SVGImage
                                            class="m-r-5 hexagon"
                                            :src="'~/images/hexagons/' + value.image + '.svg'"
                                            height="30"
                                            width="30"/>
                                    <Image
                                            class="class-image"
                                            :src="'~/images/classes/grey/' + value.image + '.png'"
                                            width="20"
                                            top="5"
                                            left="5"></Image>
                                </AbsoluteLayout>
                                <Label
                                        class="class-name m-l-5"
                                        :text="value.name"
                                        verticalAlignment="center"></Label>
                            </StackLayout>
                            <Label
                                    class="class"
                                    text="Class"
                                    textAlignment="right"
                                    flexGrow="1"></Label>
                        </FlexboxLayout>
                        <Label
                                class="class-description p-y-10"
                                :text="value.description"
                                textWrap="true"></Label>
                        <FlexboxLayout
                                flexWrap="wrap"
                                justifyContent="center">
                            <ChampionImage
                                    v-for="champion in value.champions"
                                    :champion="champion"
                                    width="10%" />
                        </FlexboxLayout>
                    </StackLayout>
                </ContentView>
                <ContentView
                        class="card m-b-10"
                        v-for="value in smartChampion.origins"
                        :key="value.id">
                    <StackLayout class="p-25">
                        <FlexboxLayout
                                flexDirection="row"
                                @tap="goToOrigin(value)">
                            <StackLayout
                                    orientation="horizontal"
                                    flexGrow="1">
                                <AbsoluteLayout
                                        width="30"
                                        height="30">
                                    <SVGImage
                                            class="m-r-5 hexagon"
                                            :src="'~/images/hexagons/' + value.image + '.svg'"
                                            height="30"
                                            width="30"/>
                                    <Image
                                            class="class-image"
                                            :src="'~/images/origins/grey/' + value.image + '.png'"
                                            width="20"
                                            top="5"
                                            left="5"></Image>
                                </AbsoluteLayout>
                                <Label
                                        class="class-name m-l-5"
                                        :text="value.name"
                                        verticalAlignment="center"></Label>
                            </StackLayout>
                            <Label
                                    class="class"
                                    text="Origin"
                                    textAlignment="right"
                                    flexGrow="1"></Label>
                        </FlexboxLayout>
                        <Label
                                class="class-description p-y-10"
                                :text="value.description"
                                textWrap="true"></Label>
                        <FlexboxLayout
                                flexWrap="wrap"
                                justifyContent="center">
                            <ChampionImage
                                    v-for="champion in value.champions"
                                    :champion="champion"
                                    width="10%" />
                        </FlexboxLayout>
                    </StackLayout>
                </ContentView>
            </StackLayout>
        </template>
    </Main>
</template>

<script>
    import Origin from "./Origin";
    import Class from "./Class";
    import { mapState, mapGetters } from 'vuex';
    export default {
        name: "Champion",
        props: {
            champion: {
                required: true
            }
        },
        data: () => ({
            originPage: Origin,
            classPage: Class
        }),
        computed: {
            ...mapState('data', {
                data: state => state
            }),
            ...mapGetters('data', [
                'championsByClass',
                'championsByOrigin'
            ]),
            smartChampion() {
                let newChampion = Object.assign({}, this.champion);

                let origins = [];
                newChampion.origin.forEach((originName) => {
                    let origin = this.data.origins.filter((origin) => {
                        return originName === origin.name;
                    })[0]

                    origin.champions = this.getChampionsByOrigin(origin.name)

                    origins.push(origin)
                });
                newChampion.origins = origins;

                let classes = [];
                newChampion.class.forEach((className) => {
                    let value = this.data.classes.filter((value) => {
                        return className === value.name;
                    })[0]

                    value.champions = this.getChampionsByClass(value.name)

                    classes.push(value);
                });
                newChampion.classes = classes;

                return newChampion;
            }
        },
        methods: {
            goToOrigin(origin) {
                this.$goto('Origin', {
                    origin: origin
                });
            },
            goToClass(value) {
                this.$goto('Class', {
                    value: value
                });
            },
            getChampionsByOrigin(origin) {
                return this.championsByOrigin(origin)
            },
            getChampionsByClass(value) {
                return this.championsByClass(value)
            }
        }
    }
</script>

<style scoped>
    .white-text{
        color: #ffffff;
    }

    .card{
        background: rgba(255, 255, 255, 0.2);
        border-radius: 25px;
    }

    .ability-state,
    .ability-cost{
        font-size: 13rem;
        text-transform: uppercase;
    }

    .ability-name,
    .ability-mana{
        color: #d99e52;
        font-size: 16rem;
    }

    .ability-description{
        font-size: 12rem;
    }

    .ability-stats-type,
    .ability-stats-value{
        font-size: 13rem;
    }

    .basic-stats-type{
        font-size: 13rem;
        text-transform: uppercase;
    }

    .basic-stats-value{
        color: #d99e52;
        font-size: 18rem;
    }

    .class-image{
        margin-right: 20px;
    }

    .class-name{
        font-size: 16rem;
    }

    .class{
        font-size: 13rem;
        text-transform: uppercase;
    }

    .class-description{
        font-size: 12rem;
    }
</style>
