<template>
    <Main>
        <StackLayout>
            <Label
                    text="CHAMPIONS"
                    textAlignment="center"
                    class="h1"
                    color="#d99e52"
            ></Label>
            <StackLayout class="hr-light hr"></StackLayout>
            <Button
                    :text="championSortByButton"
                    class="btn btn-primary btn-sort"
                    @tap="changeChampionSort" />
            <FlexboxLayout flexWrap="wrap" justifyContent="center">
                <ChampionImage
                        v-for="champion in getSortedChampions"
                        :champion="champion"
                        width="15%"></ChampionImage>
            </FlexboxLayout>
        </StackLayout>
    </Main>
</template>

<script>
    import { mapState, mapGetters } from 'vuex';
    import Item from "./Item"
    import Class from "./Class"
    import Origin from "./Origin"
    import Champion from "./Champion"
    export default {
        name: "Champions",
        components: {Item},
        data: () => ({
            itemPage: Item,
            originPage: Origin,
            classPage: Class,
            championPage: Champion,
            championSort: 'name',
            championSortOptions: [
                'name',
                'cost'
            ]
        }),
        computed: {
            ...mapState('data', {
                data: state => state
            }),
            ...mapGetters('data', [
                'baseItems',
                'sortedChampions'
            ]),
            getSortedChampions() {
                return this.sortedChampions(this.championSort)
            },
            championSortByButton() {
                return 'Sort by: ' + this.championSort
            }
        },
        methods: {
            changeChampionSort() {
                let currentSort = this.championSortOptions.indexOf(this.championSort);
                currentSort++;

                this.championSort = currentSort > this.championSortOptions.length - 1 ? this.championSortOptions[0] : this.championSortOptions[currentSort];
            }
        },
        // mounted() {
        //     admob.createBanner({
        //         testing: true,
        //         size: admob.AD_SIZE.SMART_BANNER,
        //         androidBannerId: 'ca-app-pub-0810183220073509/4266743062',
        //         margins: {
        //             bottom: 20
        //         }
        //     })
        // }
    }
</script>

<style scoped>

</style>
