<template>
    <Main>
        <StackLayout>
            <Label
                    text="CLASSES"
                    textAlignment="center"
                    class="h1"
                    color="#d99e52"
            ></Label>
            <StackLayout class="hr-light hr"></StackLayout>
            <FlexboxLayout flexWrap="wrap" justifyContent="center">
                <StackLayout
                        v-for="value in data.classes"
                        :key="value.id"
                        width="25%"
                        class="m-5">
                    <Image
                            :src="'~/images/classes/golden/' + value.image + '.png'"
                            class="m-b-5 item"
                            borderWidth="2"
                            borderColor="#d99e52"
                            backgroundColor="#000"
                            width="100%"
                            height="auto"
                            @tap="goToClass(value)"
                    ></Image>
                    <Label
                            :text="value.name"
                            class="h5"
                            textAlignment="center"/>
                </StackLayout>
            </FlexboxLayout>
        </StackLayout>
    </Main>
</template>

<script>
    import { mapState } from 'vuex';
    export default {
        name: "Classes",
        computed: {
            ...mapState('data', {
                data: state => state
            })
        },
        methods: {
            goToClass(value) {
                this.$goto('Class', {
                    value: value
                });
            }
        }
    }
</script>

<style scoped>

</style>
