<template>
    <Main>
        <template>
            <StackLayout class="m-x-10">
                <Image
                        :src="'~/images/classes/golden/' + value.image + '.png'"
                        width="40%"
                        height="auto"
                        alignSelf="center" />
                <Label
                        :text="value.name"
                        class="h2"
                        color="#d99e52"/>
                <Label
                        :text="value.description"
                        color="#ffffff"
                        editable="false"
                        textWrap="true"
                        fontSize="18px" />
                <FlexboxLayout
                        flexWrap="wrap"
                        justifyContent="center"
                        class="m-t-15">
                    <ChampionImage
                            v-for="champion in getChampionsByClass"
                            :champion="champion"
                            width="15%" />
                </FlexboxLayout>
            </StackLayout>
        </template>
    </Main>
</template>

<script>
    import { mapState, mapGetters } from 'vuex';
    export default {
        name: "Class",
        props: {
            value: {
                required: true
            }
        },
        computed: {
            ...mapState('data', {
                data: state => state
            }),
            ...mapGetters('data', [
                'championsByClass'
            ]),
            getChampionsByClass() {
                return this.championsByClass(this.value.name)
            }
        }
    }
</script>

<style scoped>

</style>
