<template>
    <Main>
        <StackLayout class="p-b-30">
            <Label
                    text="ITEMS"
                    textAlignment="center"
                    class="h1"
                    color="#d99e52"
            ></Label>
            <StackLayout class="hr-light hr"></StackLayout>
            <FlexboxLayout flexWrap="wrap" justifyContent="center">
                <Image
                        v-for="item in baseItems"
                        :key="item.name"
                        :src="'~/images/items/' + item.image + '.png'"
                        class="m-5 item"
                        borderWidth="2"
                        borderColor="#d99e52"
                        backgroundColor="#000"
                        width="20%"
                        height="auto"
                        @tap="goToItem(item)"
                ></Image>
            </FlexboxLayout>
            <Label
                    text="CHAMPIONS"
                    textAlignment="center"
                    class="h1 m-t-15"
                    color="#d99e52"
            ></Label>
            <StackLayout class="hr-light hr"></StackLayout>
            <Button
                    :text="championSortByButton"
                    class="btn btn-primary btn-sort"
                    @tap="changeChampionSort" />
            <FlexboxLayout flexWrap="wrap" justifyContent="center">
                <ChampionImage
                        v-for="champion in getSortedChampions"
                        :champion="champion"
                        width="15%"></ChampionImage>
            </FlexboxLayout>
            <Label
                    text="ORIGINS"
                    textAlignment="center"
                    class="h1 m-t-15"
                    color="#d99e52"
            ></Label>
            <StackLayout class="hr-light hr"></StackLayout>
            <FlexboxLayout
                    flexWrap="wrap"
                    justifyContent="center"
                    class="p-20">
                <StackLayout
                        v-for="origin in data.origins"
                        :key="origin.id"
                        width="18%"
                        class="m-5">
                    <Image
                            :src="'~/images/origins/golden/' + origin.image + '.png'"
                            class="m-b-5 item"
                            borderWidth="2"
                            borderColor="#d99e52"
                            backgroundColor="#000"
                            width="100%"
                            height="auto"
                            @tap="goToOrigin(origin)"
                    ></Image>
                    <Label
                            :text="origin.name"
                            class="h5"
                            textAlignment="center"/>
                </StackLayout>
            </FlexboxLayout>
            <Label
                    text="CLASSES"
                    textAlignment="center"
                    class="h1"
                    color="#d99e52"
            ></Label>
            <StackLayout class="hr-light hr"></StackLayout>
            <FlexboxLayout flexWrap="wrap" justifyContent="center">
                <StackLayout
                        v-for="value in data.classes"
                        :key="value.id"
                        width="25%"
                        class="m-5">
                        <Image
                                :src="'~/images/classes/golden/' + value.image + '.png'"
                                class="m-b-5 item"
                                borderWidth="2"
                                borderColor="#d99e52"
                                backgroundColor="#000"
                                width="100%"
                                height="auto"
                                @tap="goToClass(value)"
                        ></Image>
                    <!--<AbsoluteLayout
                            width="90%"
                            height="300px"
                            horizontalAlignment="center">
                        <SVGImage
                                class="hexagon"
                                :src="'~/images/hexagons/' + value.image + '.svg'"
                                width="100%"></SVGImage>
                        <StackLayout
                                width="100%"
                                height="100%">
                            <SVGImage
                                    :src="'~/images/classes/svg/' + value.image + '.svg'"
                                    width="60%"
                                    height="60%"
                                    horizontalAlignment="center"
                                    verticalAlignment="center"
                                    @tap="goToClass(value)"></SVGImage>
                        </StackLayout>
                    </AbsoluteLayout>-->
<!--                    <SVGImage-->
<!--                            :src="'~/images/classes/svg/' + value.image + '.svg'"-->
<!--                            class="m-b-5 p-10 item"-->
<!--                            borderWidth="2"-->
<!--                            borderColor="#d99e52"-->
<!--                            backgroundColor="#000"-->
<!--                            width="100%"-->
<!--                            height="40%"-->
<!--                            @tap="goToClass(value)" />-->
                    <Label
                            :text="value.name"
                            class="h5"
                            textAlignment="center"/>
                </StackLayout>
            </FlexboxLayout>
        </StackLayout>
    </Main>
</template>

<script>
    import { mapState, mapGetters } from 'vuex';
    export default {
        name: "Frontpage",
        data: () => ({
            championSort: 'name',
            championSortOptions: [
                'name',
                'cost'
            ]
        }),
        computed: {
            ...mapState('data', {
                data: state => state
            }),
            ...mapGetters('data', [
                'baseItems',
                'sortedChampions'
            ]),
            getSortedChampions() {
                return this.sortedChampions(this.championSort)
            },
            championSortByButton() {
                return 'Sort by: ' + this.championSort
            }
        },
        methods: {
            goToItem(item) {
                this.$goto('Item', {
                    item: item
                });
            },
            goToOrigin(origin) {
                this.$goto('Origin', {
                    origin: origin
                });
            },
            goToClass(value) {
                this.$goto('Class', {
                    value: value
                });
            },
            changeChampionSort() {
                let currentSort = this.championSortOptions.indexOf(this.championSort);
                currentSort++;

                this.championSort = currentSort > this.championSortOptions.length - 1 ? this.championSortOptions[0] : this.championSortOptions[currentSort];
            }
        },
        mounted() {
            setTimeout(() => {
                firebase.admob.showBanner({
                    testing: false,
                    size: firebase.admob.AD_SIZE.SMART_BANNER,
                    androidBannerId: 'ca-app-pub-0810183220073509/4266743062',
                    margins: {
                        bottom: 0
                    }
                })
            }, 1000)
        }
    }
</script>
