<template>
    <Main>
        <template>
            <StackLayout>
                <StackLayout orientation="horizontal">
                    <Image
                            :src="'~/images/items/' + item.image + '.png'"
                            width="25%"
                            height="auto"
                            borderWidth="2"
                            borderColor="#d99e52"
                            backgroundColor="#000"/>
                    <StackLayout class="m-l-10">
                        <Label
                                :text="item.name"
                                class="h2"
                                color="#d99e52"/>
                        <StackLayout
                                v-for="stats in item.stats"
                                :key="stats.name">
                            <Label
                                    :text="(stats.amount ? stats.amount : '') + ' ' + stats.title"
                                    color="#ffffff" />
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
                <StackLayout
                        orientation="horizontal"
                        verticalAlignment="center"
                        v-for="combination in item.combinations"
                        class="m-t-10"
                        :key="combination.with + '-' + combination.finish">
                    <Label
                            text="+"
                            class="h3 m-r-4"
                            color="#d99e52"
                            verticalAlignment="center" />
                    <Image
                            :src="'~/images/items/' + combinationItem(combination).with.image + '.png'"
                            width="13%"
                            height="auto"
                            borderWidth="1"
                            borderColor="#d99e52"
                            backgroundColor="#000"
                            class="m-r-4"
                            @tap="goToItem(combinationItem(combination).with)"/>
                    <Label
                            text="="
                            class="h3 m-r-4"
                            color="#d99e52"
                            verticalAlignment="center" />
                    <Image
                            :src="'~/images/items/' + combinationItem(combination).finish.image + '.png'"
                            width="13%"
                            height="auto"
                            borderWidth="1"
                            borderColor="#d99e52"
                            backgroundColor="#000"
                            class="m-r-4" />
                    <StackLayout>
                        <Label
                                :text="combinationItem(combination).finish.name"
                                class="h3"
                                color="#d99e52"/>
                        <Label
                                :text="combinationItem(combination).finish.bonus"
                                textWrap="true"
                                fontSize="12px"
                                color="#ffffff"/>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </template>
    </Main>
</template>

<script>
    import { mapState } from 'vuex';
    export default {
        name: "Item",
        props: {
            item: {
                required: true
            }
        },
        data: () => ({

        }),
        computed: {
            ...mapState('data', {
                data: state => state
            })
        },
        methods: {
            combinationItem(combination) {
                let combinationObj = Object.assign({}, combination);

                combinationObj.with = this.data.items.filter(item => {
                    return item.id === combination.with;
                })[0];

                combinationObj.finish = this.data.items.filter(item => {
                    return item.id === combination.finish;
                })[0];

                return combinationObj;
            },
            goToItem(item) {
                this.item = item;
            }
        }
    }
</script>

<style scoped>

</style>
