<template>
    <Main>
        <StackLayout>
            <Label
                    text="ITEMS"
                    textAlignment="center"
                    class="h1"
                    color="#d99e52"
            ></Label>
            <StackLayout class="hr-light hr"></StackLayout>
            <FlexboxLayout flexWrap="wrap" justifyContent="center">
                <StackLayout
                        v-for="item in baseItems"
                        :key="item.id"
                        width="35%"
                        class="m-5">
                    <Image
                            :key="item.name"
                            :src="'~/images/items/' + item.image + '.png'"
                            class="m-5 item"
                            borderWidth="2"
                            borderColor="#d99e52"
                            backgroundColor="#000"
                            height="auto"
                            @tap="goToItem(item)"
                    ></Image>
                    <Label
                            :text="item.name"
                            class="h5"
                            textAlignment="center"/>
                </StackLayout>
            </FlexboxLayout>
        </StackLayout>
    </Main>
</template>

<script>
    import { mapState, mapGetters } from 'vuex';
    export default {
        name: "Items",
        computed: {
            ...mapState('data', {
                data: state => state
            }),
            ...mapGetters('data', [
                'baseItems'
            ])
        },
        methods: {
            goToItem(item) {
                this.$goto('Item', {
                    item: item
                })
            }
        }
    }
</script>

<style scoped>

</style>
