<template>
    <Main>
        <StackLayout>
            <Label
                    text="ORIGINS"
                    textAlignment="center"
                    class="h1"
                    color="#d99e52"
            ></Label>
            <StackLayout class="hr-light hr"></StackLayout>
            <FlexboxLayout
                    flexWrap="wrap"
                    justifyContent="center"
                    class="p-20">
                <StackLayout
                        v-for="origin in data.origins"
                        :key="origin.id"
                        width="25%"
                        class="m-5">
                    <Image
                            :src="'~/images/origins/golden/' + origin.image + '.png'"
                            class="m-b-5 item"
                            borderWidth="2"
                            borderColor="#d99e52"
                            backgroundColor="#000"
                            width="100%"
                            height="auto"
                            @tap="goToOrigin(origin)"
                    ></Image>
                    <Label
                            :text="origin.name"
                            class="h5"
                            textAlignment="center"/>
                </StackLayout>
            </FlexboxLayout>
        </StackLayout>
    </Main>
</template>

<script>
    import { mapState } from 'vuex';
    export default {
        name: "Origins",
        data: () => ({
            championSort: 'name',
            championSortOptions: [
                'name',
                'cost'
            ]
        }),
        computed: {
            ...mapState('data', {
                data: state => state
            })
        },
        methods: {
            goToOrigin(origin) {
                this.$goto('Origin', {
                    origin: origin
                });
            }
        }
    }
</script>

<style scoped>

</style>
