<template>
    <Main>
        <template>
            <StackLayout>
                <Image
                        :src="'~/images/origins/golden/' + origin.image + '.png'"
                        width="40%"
                        height="auto"
                        alignSelf="center" />
                <Label
                        :text="origin.name"
                        class="h2"
                        color="#d99e52"/>
                <Label
                        :text="origin.description"
                        color="#ffffff"
                        editable="false"
                        textWrap="true"
                        fontSize="18px" />
                <FlexboxLayout
                        flexWrap="wrap"
                        justifyContent="center"
                        class="m-t-15">
                    <ChampionImage
                            v-for="champion in getChampionsByOrigin"
                            :champion="champion"
                            width="15%" />
                </FlexboxLayout>
            </StackLayout>
        </template>
    </Main>
</template>

<script>
    import { mapState, mapGetters } from 'vuex';
    export default {
        name: "Origin",
        props: {
            origin: {
                required: true
            }
        },
        computed: {
            ...mapState('data', {
                data: state => state
            }),
            ...mapGetters('data', [
                'championsByOrigin'
            ]),
            getChampionsByOrigin() {
                return this.championsByOrigin(this.origin.name)
            }
        }
    }
</script>

<style scoped>

</style>
