<template>
    <Main>
        <StackLayout>
            <Label
                    text="Ranked Explained"
                    textAlignment="center"
                    class="h1"
                    color="#d99e52"
            ></Label>
            <StackLayout class="hr-light hr"></StackLayout>
            <Label
                    text="Ranked is live, and was released with patch 9.14, so it's time to get out there and grind some LP as soon as possible."
                    textWrap="true"
                    class="h3 m-b-10" />
            <Label
                    text="Ranked TFT is very similar to Ranked on Summoner’s Rift. You’ll still have the same tiers and divisions, and at the end of every game you’ll gain or lose LP based on how well you did. The goal for TFT is to feel as satisfying as your rank on Summoner’s Rift, even if details like how much LP you earn might be a bit different. Being Diamond in TFT should be similar to being Diamond in LoL, and only the best players should be able to reach Challenger."
                    textWrap="true"
                    class="h3" />
            <Image
                    src="~/images/ranked/rank-icons.png"
                    width="100%"
                    height="auto"
                    class="m-y-20"/>
            <Label
                    text="There are a handful of big differences though:"
                    textWrap="true"
                    class="h3" />
            <Label
                    text="• You’ll gain a lot more LP when you finish a TFT game in first place, since you’re basically beating seven other players in that game. You’ll typically gain some LP if you finish 4th or higher, and lose some LP if you finish 5th or lower, but spots in the middle will have fairly small changes for most games."
                    textWrap="true"
                    class="h3" />
            <Label
                    text="• There are no promotion series in TFT. As soon as you hit 100 LP, you’ll promote and carry over any extra LP with you. Since there isn’t a single winner or loser in TFT, promotion series don’t translate very well."
                    textWrap="true"
                    class="h3" />
            <Label
                    text="• Since there are no promotion series, there’s less protection and it’s easier to demote. You’ll still only demote if you lose while at 0 LP."
                    textWrap="true"
                    class="h3" />
            <Label
                    text="• Your rank will feel like it moves a bit faster in TFT. Removing promo series and decreasing demotion protection means that your rank can jump more rapidly, and you’ll gain (and lose) more LP per game when things go really well (or poorly)."
                    textWrap="true"
                    class="h3" />
            <Label
                    text="• Premade Ranked restrictions are a bit different for TFT. You can queue with up to five friends if you’re all Gold or lower. If anyone is Platinum or above, you’ll only be able to queue up as three. Check out the image below for the complete breakdown of who can queue with whom."
                    textWrap="true"
                    class="h3" />
            <Image
                    src="~/images/ranked/friendly-team-ups.jpg"
                    width="100%"
                    height="auto"
                    class="m-y-20"/>
            <Label
                    text="Ranked Rewards"
                    textAlignment="center"
                    class="h1"
                    color="#d99e52"
            ></Label>
            <StackLayout class="hr-light hr"></StackLayout>
            <Label
                    text="There will be given out some sweet ranked rewards for TFT, but there's currently no info on what or when. The rewards will probably be given our based on your end-of-season rank, and they’ll most likely be different from the Summoner’s Rift ranked rewards. Nothing is final for now, so please stay tuned for more info!"
                    textWrap="true"
                    class="h3" />
            <Label
                    text="TFT Beta Pass"
                    textAlignment="center"
                    class="h1 m-t-15"
                    color="#d99e52"
            ></Label>
            <StackLayout class="hr-light hr"></StackLayout>
            <Label
                    text="This is made so it feels like you’re making progress toward something meaningful with every game of TFT, which is why TFT Beta Pass is being tested out. With the pass, you can earn rewards by completing various weekly challenges. This is a new system which hasn't been used in LoL before, and there’s a lot about the pass that may change in the future. Everything can still be completely changed, based on what feedback are given."
                    textWrap="true"
                    class="h3 m-b-10" />
            <Label
                    text="Teamfight Tactics is very different from traditional modes like Summoner’s Rift, and there's no plan os of yet, to hand our XP or Blue Essence for TFT games. There's some considerations about whether XP and Blue Essence rewards should be implemented in the future, once the mode has had some time to settle in."
                    textWrap="true"
                    class="h3" />
            <Label
                    text="Seasons"
                    textAlignment="center"
                    class="h1 m-t-15"
                    color="#d99e52"
            ></Label>
            <StackLayout class="hr-light hr"></StackLayout>
            <Label
                    text="TFT is at its most fun when you’re discovering, theory crafting, and adapting. To support that, RIOT Games is going to be a lot more open to making bigger changes between seasons than compared to Summoner’s Rift. They'll be experimenting with new batches of champions, new items, and system changes to give each season its own unique flavor and make sure you always feel challenged."
                    textWrap="true"
                    class="h3 m-b-10" />
            <Label
                    text="Right now, the plan is to start a new season of TFT every few months, maybe even alongside the traditional Ranked splits, which means there could be three to four seasons of TFT each year. As with everything else, this could change, particularly if they feel like it’s too much time—or too little—time between major content drops. Between seasons, you’ll be demoted by several divisions since we expect new seasons to meaningfully shake up the meta."
                    textWrap="true"
                    class="h3" />
        </StackLayout>
    </Main>
</template>

<script>
    export default {
        name: "RankedExplained"
    }
</script>

<style scoped>

</style>
