<template>
    <Image
            :src="'~/images/champions/' + champion.image + '.png'"
            class="m-5 item"
            borderWidth="2"
            :borderColor="championBorderColor(champion.cost)"
            backgroundColor="#000"
            :width="width"
            :height="height"
            @tap="goToChampion(champion)" />
</template>

<script>
    export default {
        name: "ChampionImage",
        props: {
            champion: {
                required: true,
                type: Object
            },
            width: {
                required: false,
                default: 'auto'
            },
            height: {
                required: false,
                default: 'auto'
            }
        },
        methods: {
            goToChampion(champion) {
                this.$goto('Champion', {
                    champion: champion
                })
            },
        }
    }
</script>

<style scoped>

</style>
