// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on Android here
ActionBar .fa {
  padding: 40px;
}

.page {
  background-image: url('~/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.fa {
  font-family: "Font Awesome 5 Pro Regular", "fa-regular-400";
  font-weight: 400;
}

.fas {
  font-family: "Font Awesome 5 Pro Solid", "fa-solid-900";
  font-weight: 900;
}

.fab {
  font-family: "Font Awesome 5 Brands Regular", "fa-brands-400";
  font-weight: 400;
}

.fal {
  font-family: "Font Awesome 5 Pro Light", "fa-light-300";
  font-weight: 300;
}

.actionbar{
  color: #ffffff;;
}

.hr{
  width: 10%;
  background-color: #a1713c;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.btn-sort{
  background-color: #d99e52;
}

Label{
  color: $white;
}
