<template>
    <Page class="page">
        <slot name="actionBar">
            <ActionBar class="action-bar">
                <!--
                Use the NavigationButton as a side-drawer button in Android
                because ActionItems are shown on the right side of the ActionBar
                -->
                <NavigationButton icon="res://menu" @tap="toggleDrawer"></NavigationButton>
                <!--
                Use the ActionItem for IOS with position set to left. Using the
                NavigationButton as a side-drawer button in iOS is not possible,
                because its function is to always navigate back in the application.
                -->
                <!--<ActionItem icon="res://navigation/menu" android:visibility="collapsed" @tap="toggleDrawer"
                            ios.position="left">
                </ActionItem>-->
<!--                <Label class="action-bar-title" text="Home"></Label>-->
            </ActionBar>
        </slot>
        <RadSideDrawer ref="drawer">
            <GridLayout tkDrawerContent ~drawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
                <StackLayout row="0" class="sidedrawer-header" backgroundImage="~/images/sidebar-image.jpg">
<!--                    <Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>-->
<!--                    <Label class="sidedrawer-header-brand" text="User Name"></Label>-->
<!--                    <Label class="footnote" text="username@mail.com"></Label>-->
                </StackLayout>

                <ScrollView row="1" class="sidedrawer-content">
                    <StackLayout>
                        <GridLayout
                                v-for="item in menu"
                                :key="item.text"
                                columns="40, *"
                                class="sidedrawer-list-item"
                                @tap="$goto(item.component.name)">
                            <Image :src="item.image" col="0" width="40" v-if="item.image"></Image>
                            <FontIcon :name="item.icon" col="0" type="fas p-l-4" size="32" v-if="item.icon" color="#CEB57C"></FontIcon>
                            <Label col="1" :text="item.text" class="p-l-10"></Label>
                        </GridLayout>
                    </StackLayout>
                </ScrollView>
            </GridLayout>
            <ScrollView ~mainContent class="content">
                <StackLayout class="p-15">
                    <slot></slot>
                </StackLayout>
            </ScrollView>
        </RadSideDrawer>
    </Page>
</template>

<script>
import Frontpage from './pages/Frontpage'
import Items from './pages/Items'
import Champions from './pages/Champions'
import Origins from './pages/Origins'
import Classes from './pages/Classes'
import RankedExplained from './pages/RankedExplained'
import ChampionDropRates from './pages/ChampionDropRates'

export default {
    data: () => ({
        menu: [
            {
                image: '~/images/icon.png',
                text: 'Overview',
                component: Frontpage
            },
            {
                image: '~/images/items/bfsword.png',
                text: 'Items',
                component: Items
            },
            {
                image: '~/images/champions/twistedfate.png',
                text: 'Champions',
                component: Champions
            },
            {
                image: '~/images/classes/golden/sorcerer.png',
                text: 'Classes',
                component: Classes
            },
            {
                image: '~/images/origins/golden/dragon.png',
                text: 'Origins',
                component: Origins
            },
            {
                image: '~/images/misc/position-challenger-jungle.png',
                text: 'Ranked Explained',
                component: RankedExplained
            },
            {
                image: '~/images/misc/arrow-down.png',
                text: 'Champion Drop Rates',
                component: ChampionDropRates
            },
        ]
    }),
    computed: {
        currentPage() {
            // TODO
        }
    },
    methods: {
        toggleDrawer() {
            this.$refs.drawer.nativeView.toggleDrawerState()
        }
    }
}
</script>

<style scoped>
    .page{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
